.nominees {
  width: 80%;
}

.nominees th {
  border-bottom: 1px solid var(--color-dark-grey);
}

.nominees td {
  border-bottom: 1px solid var(--color-grey);
}

.nominees thead tr th {
  border-top: 1px solid var(--color-dark-grey);
  height: 50px;
  font-weight: 450;
  text-align: center;
}

.nominees tbody tr {
  height: 25px;
}

.nominees tbody tr td {
  padding: 1.5rem;
  text-align: center;
}

.nominees tbody tr:last-child td {
  border-bottom: 1px solid var(--color-dark-grey);
}

.nominees tr td {
  display: flex;
  justify-content: space-around;
}

.comment {
  font-family: "PT Serif", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
}

.hr {
  border-bottom: 1px solid var(--color-dark-grey);
}
