.header {
  font-family: "PT Serif", serif;
  font-size: 1.5em;
  padding: 2.5rem 4rem;
  margin-bottom: 2.5rem;
  display: flex;
  justify-content: space-between;
}

.button {
  font-size: 20px;
  cursor: pointer;
}
