.footer {
  height: 4rem;
  margin-top: 2.5rem;
  text-align: center;
}

.footer em {
  background: var(--color-navy);
  background-image: linear-gradient(
    -75deg,
    transparent 0,
    transparent 2%,
    var(--color-blue) 2%,
    var(--color-blue) 5%,
    transparent 5%,
    transparent 100%
  );
  background-size: 200% 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  transition: 1.8s;
}

.footer:hover em {
  background-position: -120% 0%;
}

@media screen and (max-width: 400px) {
  .footer {
    font-size: 12px;
  }
}
