.app {
  width: 100%;
  margin: auto;
}

.comment {
  display: block;
  padding: 0;
  font-family: "PT Serif", serif;
  font-size: 14px;
  margin: -2.5rem 0 2.5rem 2.5rem;
  height: 1rem;
}

.tables {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.left {
  flex: 1 1 70%;
  margin: 0 auto;
}

.right {
  flex: 1 1 30%;
  margin: 0 auto;
}
